body {
    text-align: center;
}

.stopwatch {
    display: inline-block;
    margin-top: 150px;
    text-align: center;
    border: 4px double;
    padding: 10px;
}

.screen {
    font-size: 4rem;
    margin-bottom: 20px;
}